body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: teal;
    display: flex;
    justify-content: center;
    height: max-content;
}

.parentdiv {
    /* height: 100vh; */
    background-color: aliceblue;
    padding: 7px;
    box-shadow: 0 4px 12px;
    border-radius: 10px;
    width: 35%;
}

div h1 {
    text-align: center;
    color: rgb(89, 85, 85);
}

.text {
    display: flex;
    height: min-content;
    justify-content: space-between;
}

.text input {
    font-size: 1.5rem;
    height: min-content;
    border-radius: 7px;
    border: 2px solid grey;
    padding: 0.3rem;
    color: grey;
}

.text button {
    font-size: 1.5rem;
    color: gray;
    background-color: aqua;
    border: 0;
    border-radius: 5px;
    padding: 0.3rem;
}

hr {
    margin-bottom: 2rem;
    height: 0.2rem;
    background-color: black;
}

.addedtasks {
    margin-top: 2rem;
}

#input:focus::placeholder{
    color: transparent;
}

#addButton:hover {
    cursor: pointer;
    background-color: grey;
    color: aqua;
}

/* Styling the todo list */

#tasks {
    display: flex;
    flex-direction: column-reverse;
}

.firsttask {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    /* height: ; */
    align-items: center;
}

.inputs_first {
    display: flex;
    gap: 10px;
}

.inputs_first p {
    width: 25rem;
}

.operations {
    display: flex;
    gap: 10px;
}

.operations .buttons {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 1.2rem;
    background-image: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0.3rem;
}

.operations .buttons:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom, black, yellow);
    background-color: purple;
    color: pink;
    border-radius: 15px 0 15px 0;
}